<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/DeepLinkSample" version="1.0.0" viewmodes="maximized">
    <tizen:application id="Z1sbddH7Or.DeepLinkSample" package="Z1sbddH7Or" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>DeepLinkSample</name>
    
    <!-- Below 2 permssion required for deep linking http://img-developer.samsung.com/onlinedocs/gear/Extension_PG_Web/html/prog_guide/remote_ww.htm-->
   
    <tizen:privilege name="http://developer.samsung.com/tizen/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    
    
    
 
    <tizen:profile name="wearable"/>
</widget>
